In [1]:
import numpy as np
import pandas as pd

In [2]:
files = !ls data/*.csv
files[:4]

['data/skillshare_2022_comments.csv',
 'data/skillshare_2022_discussions.csv',
 'data/skillshare_2022_follows.csv',
 'data/skillshare_2022_projects.csv']

In [3]:
df = pd.read_csv(files[2])
df

,Unnamed: 0,follower_uid,target_uid,follow_time,is_follower_deleted,is_target_deleted,is_email_enabled
0,0,8994,797923,2022-03-01 14:40:40,False,False,1
1,1,8994,3407987,2022-02-25 17:55:50,False,False,1
2,2,8994,10136582,2022-02-25 17:54:30,False,False,1
3,3,8994,13421205,2022-03-01 14:36:48,False,False,1
4,4,46649,5098613,2022-05-22 13:22:00,False,False,1
...,...,...,...,...,...,...,...
341679,341679,26283948,3045460,2022-06-24 13:21:59,False,False,1
341680,341680,26284046,2005611,2022-06-12 08:33:55,False,False,1
341681,341681,26284046,2603278,2022-06-14 01:08:32,False,False,1
341682,341682,26284089,381358,2022-06-01 02:22:46,False,False,1
341683,341683,26284089,2168285,2022-05-31 23:56:28,False,False,1