In [1]:
import pandas as pd
import numpy as np

In [2]:
# vviews_files = !ls ../../data | grep vviews
starts_file = 'skillshare_2022_starts.csv'

vviews_files = ['skillshare_2022_vviews_0.csv',
                 'skillshare_2022_vviews_10.csv',
                 'skillshare_2022_vviews_11.csv',
                 'skillshare_2022_vviews_12.csv',
                 'skillshare_2022_vviews_13.csv',
                 'skillshare_2022_vviews_14.csv',
                 'skillshare_2022_vviews_15.csv',
                 'skillshare_2022_vviews_16.csv',
                 'skillshare_2022_vviews_17.csv',
                 'skillshare_2022_vviews_18.csv',
                 'skillshare_2022_vviews_19.csv',
                 'skillshare_2022_vviews_1.csv',
                 'skillshare_2022_vviews_20.csv',
                 'skillshare_2022_vviews_21.csv',
                 'skillshare_2022_vviews_22.csv',
                 'skillshare_2022_vviews_23.csv',
                 'skillshare_2022_vviews_24.csv',
                 'skillshare_2022_vviews_25.csv',
                 'skillshare_2022_vviews_26.csv',
                 'skillshare_2022_vviews_27.csv',
                 'skillshare_2022_vviews_28.csv',
                 'skillshare_2022_vviews_29.csv',
                 'skillshare_2022_vviews_2.csv',
                 'skillshare_2022_vviews_30.csv',
                 'skillshare_2022_vviews_31.csv',
                 'skillshare_2022_vviews_32.csv',
                 'skillshare_2022_vviews_33.csv',
                 'skillshare_2022_vviews_34.csv',
                 'skillshare_2022_vviews_35.csv',
                 'skillshare_2022_vviews_36.csv',
                 'skillshare_2022_vviews_37.csv',
                 'skillshare_2022_vviews_38.csv',
                 'skillshare_2022_vviews_39.csv',
                 'skillshare_2022_vviews_3.csv',
                 'skillshare_2022_vviews_40.csv',
                 'skillshare_2022_vviews_41.csv',
                 'skillshare_2022_vviews_42.csv',
                 'skillshare_2022_vviews_43.csv',
                 'skillshare_2022_vviews_44.csv',
                 'skillshare_2022_vviews_45.csv',
                 'skillshare_2022_vviews_46.csv',
                 'skillshare_2022_vviews_47.csv',
                 'skillshare_2022_vviews_48.csv',
                 'skillshare_2022_vviews_49.csv',
                 'skillshare_2022_vviews_4.csv',
                 'skillshare_2022_vviews_50.csv',
                 'skillshare_2022_vviews_51.csv',
                 'skillshare_2022_vviews_52.csv',
                 'skillshare_2022_vviews_53.csv',
                 'skillshare_2022_vviews_54.csv',
                 'skillshare_2022_vviews_55.csv',
                 'skillshare_2022_vviews_56.csv',
                 'skillshare_2022_vviews_57.csv',
                 'skillshare_2022_vviews_58.csv',
                 'skillshare_2022_vviews_59.csv',
                 'skillshare_2022_vviews_5.csv',
                 'skillshare_2022_vviews_60.csv',
                 'skillshare_2022_vviews_61.csv',
                 'skillshare_2022_vviews_62.csv',
                 'skillshare_2022_vviews_6.csv',
                 'skillshare_2022_vviews_7.csv',
                 'skillshare_2022_vviews_8.csv',
                 'skillshare_2022_vviews_9.csv']

In [3]:
def load_csv_to_df(filepath):
    return pd.read_csv("../../data/" + filepath, index_col=0)

vviews = pd.DataFrame()
for file in vviews_files:
    vviews = pd.concat([vviews, load_csv_to_df(file)])
    
starts = load_csv_to_df(starts_file)
for column in starts.columns:
    if "time" in column:
        starts[column] = pd.to_datetime(starts[column])
    
vviews.view_date = pd.to_datetime(vviews.view_date)
vviews.head()

/tmp/ipykernel_41525/3035211676.py:2: DtypeWarning: Columns (24,53) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv("../../data/" + filepath, index_col=0)

,uid,class_id,lesson_id,lesson_number,is_trailer,video_duration,view_date,sum
0,1128075,121998,1533011,6,False,407.0,2022-01-07,333
1,23721429,285819,2992845,3,False,379.0,2022-01-07,215
2,23747223,151243,2482675,5,False,372.0,2022-01-07,192
3,23630537,108140,652188,19,False,203.0,2022-01-07,24
4,23693292,516912,4244299,3,False,340.0,2022-01-07,89

In [4]:
# JOIN starts and views
account_and_views_info = pd.merge(vviews, starts, left_on="uid", right_on="user_uid", how="outer")
account_and_views_info

,uid,class_id,lesson_id,lesson_number,is_trailer,video_duration,view_date,sum,id,user_uid,...,is_direct_to_paid,trial_length_offer,had_trial,sub_utm_source,sub_utm_campaign,sub_utm_medium,sub_utm_term,sub_utm_channel,referral_source,eligible_trial_number
0,1128075.0,121998.0,1533011.0,6.0,False,407.0,2022-01-07,333.0,8815609.0,1128075.0,...,False,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0
1,1128075.0,121998.0,1533013.0,7.0,False,93.0,2022-01-07,92.0,8815609.0,1128075.0,...,False,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0
2,1128075.0,240747.0,2841973.0,0.0,True,73.0,2022-01-07,74.0,8815609.0,1128075.0,...,False,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0
3,1128075.0,240747.0,2841972.0,1.0,False,90.0,2022-01-07,90.0,8815609.0,1128075.0,...,False,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0
4,1128075.0,240747.0,2841992.0,2.0,False,319.0,2022-01-07,320.0,8815609.0,1128075.0,...,False,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20122360,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,9454516.0,26283105.0,...,False,One Month,True,NaN,NaN,NaN,NaN,Organic Search,https://www.google.com/,1.0
20122361,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,9454622.0,26283254.0,...,False,Other,False,NaN,NaN,NaN,NaN,Organic Search,https://www.google.com/,NaN
20122362,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,9454815.0,26283973.0,...,False,One Week,True,NaN,NaN,NaN,NaN,Organic Search,https://www.google.com/,1.0
20122363,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,9454818.0,26266500.0,...,False,One Week,True,(direct),NaN,(none),NaN,Direct,NaN,1.0
20122364,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,9454828.0,26284017.0,...,False,One Month,True,Google,Croud_Search_Google_LA_BR_PT_BOF_Non-Brand,paidsearch,como+fazer+anima%C3%A7%C3%A3o,Paid Search (Non-brand),NaN,1.0

In [5]:
# LIMIT to desired trials
account_and_views_info = account_and_views_info[account_and_views_info.trial_length_offer.isin(["One Month", "One Week"])]
account_and_views_info

,uid,class_id,lesson_id,lesson_number,is_trailer,video_duration,view_date,sum,id,user_uid,...,is_direct_to_paid,trial_length_offer,had_trial,sub_utm_source,sub_utm_campaign,sub_utm_medium,sub_utm_term,sub_utm_channel,referral_source,eligible_trial_number
0,1128075.0,121998.0,1533011.0,6.0,False,407.0,2022-01-07,333.0,8815609.0,1128075.0,...,False,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0
1,1128075.0,121998.0,1533013.0,7.0,False,93.0,2022-01-07,92.0,8815609.0,1128075.0,...,False,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0
2,1128075.0,240747.0,2841973.0,0.0,True,73.0,2022-01-07,74.0,8815609.0,1128075.0,...,False,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0
3,1128075.0,240747.0,2841972.0,1.0,False,90.0,2022-01-07,90.0,8815609.0,1128075.0,...,False,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0
4,1128075.0,240747.0,2841992.0,2.0,False,319.0,2022-01-07,320.0,8815609.0,1128075.0,...,False,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20122359,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,9454467.0,26283012.0,...,False,One Month,True,youtube,2022-05-01-pjiggles,paid-influencer-video,NaN,Youtube Influencer,NaN,1.0
20122360,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,9454516.0,26283105.0,...,False,One Month,True,NaN,NaN,NaN,NaN,Organic Search,https://www.google.com/,1.0
20122362,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,9454815.0,26283973.0,...,False,One Week,True,NaN,NaN,NaN,NaN,Organic Search,https://www.google.com/,1.0
20122363,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,9454818.0,26266500.0,...,False,One Week,True,(direct),NaN,(none),NaN,Direct,NaN,1.0
20122364,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,9454828.0,26284017.0,...,False,One Month,True,Google,Croud_Search_Google_LA_BR_PT_BOF_Non-Brand,paidsearch,como+fazer+anima%C3%A7%C3%A3o,Paid Search (Non-brand),NaN,1.0

In [6]:
# Create column for watch data, corresponds to the day after trial start

account_and_views_info["day_of_trial"] = account_and_views_info.view_date - account_and_views_info.create_time
account_and_views_info.dropna(subset=["day_of_trial"], inplace=True)
account_and_views_info["day_of_trial"]

/tmp/ipykernel_41525/3163265517.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  account_and_views_info["day_of_trial"] = account_and_views_info.view_date - account_and_views_info.create_time
/tmp/ipykernel_41525/3163265517.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  account_and_views_info.dropna(subset=["day_of_trial"], inplace=True)

0            2 days 20:36:33
1            2 days 20:36:33
2            2 days 20:36:33
3            2 days 20:36:33
4            2 days 20:36:33
                  ...
19977675    40 days 15:27:17
19977676    42 days 05:21:33
19977677   -1 days +05:52:51
19977678    42 days 05:21:33
19977679   -1 days +05:52:51
Name: day_of_trial, Length: 12639366, dtype: timedelta64[ns]

In [7]:
# Cut back on DF size, only using these days anyway
account_and_views_info = account_and_views_info[
    (account_and_views_info.day_of_trial.dt.days < 31) & 
    (account_and_views_info.day_of_trial.dt.days > 0)]
account_and_views_info

,uid,class_id,lesson_id,lesson_number,is_trailer,video_duration,view_date,sum,id,user_uid,...,trial_length_offer,had_trial,sub_utm_source,sub_utm_campaign,sub_utm_medium,sub_utm_term,sub_utm_channel,referral_source,eligible_trial_number,day_of_trial
0,1128075.0,121998.0,1533011.0,6.0,False,407.0,2022-01-07,333.0,8815609.0,1128075.0,...,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0,2 days 20:36:33
1,1128075.0,121998.0,1533013.0,7.0,False,93.0,2022-01-07,92.0,8815609.0,1128075.0,...,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0,2 days 20:36:33
2,1128075.0,240747.0,2841973.0,0.0,True,73.0,2022-01-07,74.0,8815609.0,1128075.0,...,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0,2 days 20:36:33
3,1128075.0,240747.0,2841972.0,1.0,False,90.0,2022-01-07,90.0,8815609.0,1128075.0,...,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0,2 days 20:36:33
4,1128075.0,240747.0,2841992.0,2.0,False,319.0,2022-01-07,320.0,8815609.0,1128075.0,...,One Month,True,NaN,NaN,NaN,NaN,Missing,NaN,6.0,2 days 20:36:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19977669,24020742.0,296939.0,4312634.0,0.0,True,89.0,2022-02-06,60.0,8885702.0,24020742.0,...,One Month,True,email,2021-12-cart-abandoned-day-0-v1,lifecycle,new-user-lifecycle,Email,android-app://com.google.android.gm/,1.0,19 days 12:25:46
19977670,24020742.0,296939.0,4326330.0,27.0,False,495.0,2022-02-06,164.0,8885702.0,24020742.0,...,One Month,True,email,2021-12-cart-abandoned-day-0-v1,lifecycle,new-user-lifecycle,Email,android-app://com.google.android.gm/,1.0,19 days 12:25:46
19977671,24020742.0,296939.0,4324396.0,1.0,False,358.0,2022-02-06,165.0,8885702.0,24020742.0,...,One Month,True,email,2021-12-cart-abandoned-day-0-v1,lifecycle,new-user-lifecycle,Email,android-app://com.google.android.gm/,1.0,19 days 12:25:46
19977672,24060250.0,321459.0,3108840.0,0.0,True,550.0,2022-02-12,98.0,8890106.0,24060250.0,...,One Month,True,youtube,2021-10-01-kdigitalstudio,paid-influencer-video,NaN,Youtube Influencer,NaN,1.0,24 days 17:24:37
19977673,24119445.0,381077.0,4262853.0,0.0,True,55.0,2022-02-20,54.0,8904407.0,24119445.0,...,One Month,True,youtube,2021-09-01-alpharad,paid-influencer-video,NaN,Youtube Influencer,NaN,1.0,29 days 21:47:30

In [8]:
# Truncate day of trial from timedelta to just an integer
account_and_views_info.day_of_trial = account_and_views_info.day_of_trial.dt.days

/tmp/ipykernel_41525/346261343.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  account_and_views_info.day_of_trial = account_and_views_info.day_of_trial.dt.days

In [9]:
views_by_trial_day = account_and_views_info.groupby([
    "user_uid",
    "day_of_trial"])\
    .agg({"sum": "sum", "video_duration":"sum"})\
    .reset_index()\
    .pivot(
        index="user_uid",
        columns="day_of_trial",
        values=["sum", "video_duration"])

views_by_trial_day

                 sum                                                     \
day_of_trial      1       2       3       4    5       6      7      8
user_uid
389.0            NaN     NaN     NaN  1004.0  NaN     NaN    NaN    NaN
526.0            NaN  1177.0     NaN     NaN  NaN     NaN    NaN    NaN
1419.0        3949.0  1193.0   125.0     NaN  NaN   510.0    8.0    NaN
3113.0         303.0     NaN     NaN     NaN  NaN     NaN  670.0  796.0
4377.0        1375.0     NaN     NaN     NaN  NaN  1220.0    NaN    NaN
...              ...     ...     ...     ...  ...     ...    ...    ...
26284119.0       NaN     NaN     NaN     NaN  NaN     NaN    NaN    NaN
26284144.0       NaN     NaN     NaN     NaN  NaN     NaN    NaN    NaN
26284161.0       2.0    14.0     3.0     NaN  4.0    38.0    NaN    NaN
26284162.0       NaN     NaN     NaN     NaN  NaN     NaN    NaN    NaN
26284167.0       NaN     NaN  1382.0    34.0  NaN     NaN    NaN    NaN

                             ... video_duration                              \
day_of_trial     9       10  ...             21      22  23  24  25  26  27
user_uid                     ...
389.0           NaN     NaN  ...            NaN     NaN NaN NaN NaN NaN NaN
526.0           NaN     NaN  ...            NaN     NaN NaN NaN NaN NaN NaN
1419.0          NaN     NaN  ...            NaN     NaN NaN NaN NaN NaN NaN
3113.0          2.0     NaN  ...            NaN  2208.0 NaN NaN NaN NaN NaN
4377.0          NaN     NaN  ...            NaN     NaN NaN NaN NaN NaN NaN
...             ...     ...  ...            ...     ...  ..  ..  ..  ..  ..
26284119.0    718.0     NaN  ...            NaN     NaN NaN NaN NaN NaN NaN
26284144.0      NaN  3171.0  ...            NaN     NaN NaN NaN NaN NaN NaN
26284161.0      NaN     NaN  ...            NaN     NaN NaN NaN NaN NaN NaN
26284162.0      NaN     NaN  ...            NaN     NaN NaN NaN NaN NaN NaN
26284167.0      NaN     NaN  ...            NaN     NaN NaN NaN NaN NaN NaN


day_of_trial  28  29  30
user_uid
389.0        NaN NaN NaN
526.0        NaN NaN NaN
1419.0       NaN NaN NaN
3113.0       NaN NaN NaN
4377.0       NaN NaN NaN
...           ..  ..  ..
26284119.0   NaN NaN NaN
26284144.0   NaN NaN NaN
26284161.0   NaN NaN NaN
26284162.0   NaN NaN NaN
26284167.0   NaN NaN NaN

[224484 rows x 60 columns]

In [10]:
# Add trial length col back to pivoted table 
views_by_trial_day = pd.merge(
    views_by_trial_day.reset_index(),
    starts[["trial_length_offer", "user_uid"]],
    left_on="user_uid",
    right_on="user_uid"
)

views_by_trial_day

/tmp/ipykernel_41525/126646872.py:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  views_by_trial_day = pd.merge(

,user_uid,"(user_uid, )","(sum, 1)","(sum, 2)","(sum, 3)","(sum, 4)","(sum, 5)","(sum, 6)","(sum, 7)","(sum, 8)",...,"(video_duration, 22)","(video_duration, 23)","(video_duration, 24)","(video_duration, 25)","(video_duration, 26)","(video_duration, 27)","(video_duration, 28)","(video_duration, 29)","(video_duration, 30)",trial_length_offer
0,389.0,389.0,NaN,NaN,NaN,1004.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One Month
1,526.0,526.0,NaN,1177.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One Month
2,1419.0,1419.0,3949.0,1193.0,125.0,NaN,NaN,510.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One Month
3,3113.0,3113.0,303.0,NaN,NaN,NaN,NaN,NaN,670.0,796.0,...,2208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One Month
4,4377.0,4377.0,1375.0,NaN,NaN,NaN,NaN,1220.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One Week
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239388,26284119.0,26284119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One Month
239389,26284144.0,26284144.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One Month
239390,26284161.0,26284161.0,2.0,14.0,3.0,NaN,4.0,38.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One Month
239391,26284162.0,26284162.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One Month
239392,26284167.0,26284167.0,NaN,NaN,1382.0,34.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One Month

In [11]:
# Columns need clean up, will do this in next step
views_by_trial_day.columns

Index([            'user_uid',       ('user_uid', ''),             ('sum', 1),
                   ('sum', 2),             ('sum', 3),             ('sum', 4),
                   ('sum', 5),             ('sum', 6),             ('sum', 7),
                   ('sum', 8),             ('sum', 9),            ('sum', 10),
                  ('sum', 11),            ('sum', 12),            ('sum', 13),
                  ('sum', 14),            ('sum', 15),            ('sum', 16),
                  ('sum', 17),            ('sum', 18),            ('sum', 19),
                  ('sum', 20),            ('sum', 21),            ('sum', 22),
                  ('sum', 23),            ('sum', 24),            ('sum', 25),
                  ('sum', 26),            ('sum', 27),            ('sum', 28),
                  ('sum', 29),            ('sum', 30),  ('video_duration', 1),
        ('video_duration', 2),  ('video_duration', 3),  ('video_duration', 4),
        ('video_duration', 5),  ('video_duration', 6),  ('video_duration', 7),
        ('video_duration', 8),  ('video_duration', 9), ('video_duration', 10),
       ('video_duration', 11), ('video_duration', 12), ('video_duration', 13),
       ('video_duration', 14), ('video_duration', 15), ('video_duration', 16),
       ('video_duration', 17), ('video_duration', 18), ('video_duration', 19),
       ('video_duration', 20), ('video_duration', 21), ('video_duration', 22),
       ('video_duration', 23), ('video_duration', 24), ('video_duration', 25),
       ('video_duration', 26), ('video_duration', 27), ('video_duration', 28),
       ('video_duration', 29), ('video_duration', 30),   'trial_length_offer'],
      dtype='object')

In [12]:
# Only use the first 3 days and the last 3 days of trial
first_days = [1, 2, 3]
last_days = [ -3, -2, -1 ]

def convert_cols(row: pd.Series, prev_col: str, day: int):
    trial_length = 30 if row["trial_length_offer"] == "One Month" else 7
    day_converted = trial_length + (day + 1)
    return row[(prev_col, day_converted)]

for day in first_days:
    views_by_trial_day[f"day_{day}_total_watchtime"] = views_by_trial_day[('sum', day)]
    views_by_trial_day[f"day_{day}_watched_video_length"] = views_by_trial_day[('video_duration', day)]
    
for day in last_days:
    views_by_trial_day[f"day_{day}_total_watchtime"] = views_by_trial_day.apply(lambda row: convert_cols(row, "sum", day), axis=1)
    views_by_trial_day[f"day_{day}_watched_video_length"] = views_by_trial_day.apply(lambda row: convert_cols(row, "video_duration", day), axis=1)
    
views_by_trial_day

,user_uid,"(user_uid, )","(sum, 1)","(sum, 2)","(sum, 3)","(sum, 4)","(sum, 5)","(sum, 6)","(sum, 7)","(sum, 8)",...,day_2_total_watchtime,day_2_watched_video_length,day_3_total_watchtime,day_3_watched_video_length,day_-3_total_watchtime,day_-3_watched_video_length,day_-2_total_watchtime,day_-2_watched_video_length,day_-1_total_watchtime,day_-1_watched_video_length
0,389.0,389.0,NaN,NaN,NaN,1004.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,526.0,526.0,NaN,1177.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1177.0,1899.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1419.0,1419.0,3949.0,1193.0,125.0,NaN,NaN,510.0,8.0,NaN,...,1193.0,3055.0,125.0,1480.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3113.0,3113.0,303.0,NaN,NaN,NaN,NaN,NaN,670.0,796.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4377.0,4377.0,1375.0,NaN,NaN,NaN,NaN,1220.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1220.0,1274.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239388,26284119.0,26284119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239389,26284144.0,26284144.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239390,26284161.0,26284161.0,2.0,14.0,3.0,NaN,4.0,38.0,NaN,NaN,...,14.0,342.0,3.0,342.0,NaN,NaN,NaN,NaN,NaN,NaN
239391,26284162.0,26284162.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239392,26284167.0,26284167.0,NaN,NaN,1382.0,34.0,NaN,NaN,NaN,NaN,...,NaN,NaN,1382.0,2212.0,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
cols_to_keep = [ col for col in views_by_trial_day.columns if "total_watchtime" in col or "video_length" in col ]
cols_to_keep.insert(0, "user_uid")

# Fix final issues with datatypes and missing values
views_by_trial_day.user_uid = views_by_trial_day.user_uid.astype(int)
for col in cols_to_keep:
    views_by_trial_day[col] = views_by_trial_day[col].fillna(0.0)
views_by_trial_day

,user_uid,"(user_uid, )","(sum, 1)","(sum, 2)","(sum, 3)","(sum, 4)","(sum, 5)","(sum, 6)","(sum, 7)","(sum, 8)",...,day_2_total_watchtime,day_2_watched_video_length,day_3_total_watchtime,day_3_watched_video_length,day_-3_total_watchtime,day_-3_watched_video_length,day_-2_total_watchtime,day_-2_watched_video_length,day_-1_total_watchtime,day_-1_watched_video_length
0,389,389.0,NaN,NaN,NaN,1004.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,526,526.0,NaN,1177.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1177.0,1899.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1419,1419.0,3949.0,1193.0,125.0,NaN,NaN,510.0,8.0,NaN,...,1193.0,3055.0,125.0,1480.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3113,3113.0,303.0,NaN,NaN,NaN,NaN,NaN,670.0,796.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4377,4377.0,1375.0,NaN,NaN,NaN,NaN,1220.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1220.0,1274.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239388,26284119,26284119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
239389,26284144,26284144.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
239390,26284161,26284161.0,2.0,14.0,3.0,NaN,4.0,38.0,NaN,NaN,...,14.0,342.0,3.0,342.0,0.0,0.0,0.0,0.0,0.0,0.0
239391,26284162,26284162.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
239392,26284167,26284167.0,NaN,NaN,1382.0,34.0,NaN,NaN,NaN,NaN,...,0.0,0.0,1382.0,2212.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# Save
views_by_trial_day[cols_to_keep].to_csv("../../data/watch_time_by_trial_day.csv")