In [37]:
import pandas as pd
pd.options.mode.chained_assignment = None
pd.set_option('display.max_columns', None)
import numpy as np
import seaborn as sns

In [19]:
# pull starts raw data
combo_df = pd.read_csv('../../data/skillshare_combined.csv')

In [41]:
subs_meta_df = pd.read_csv('../../data/skillshare_subs_meta.csv')

In [42]:
combo_df = combo_df.merge(subs_meta_df, how='left', on='user_uid')

In [46]:
del combo_df['Unnamed: 0']

In [48]:
combo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 473932 entries, 0 to 473931
Data columns (total 55 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   user_uid                      473932 non-null  int64
 1   create_time                   473932 non-null  object
 2   success                       473932 non-null  int64
 3   cancellation_time             473932 non-null  object
 4   payment_provider_cat_codes    473932 non-null  int64
 5   payment_ux_cat_codes          473932 non-null  int64
 6   trial_length_offer_cat_codes  473932 non-null  int64
 7   sub_utm_channel_cat_codes     473932 non-null  int64
 8   sub_utm_source_cat_codes      473932 non-null  int64
 9   trial_start_day               473932 non-null  object
 10  trial_end_day                 473932 non-null  object
 11  is_cancel_during_trial        473932 non-null  int64
 12  day-1                         473932 non-null  float64
 13  day-2                         473932 non-null  float64
 14  day-3                         473932 non-null  float64
 15  day-4                         473932 non-null  float64
 16  day-5                         473932 non-null  float64
 17  day-6                         473932 non-null  float64
 18  day-7                         473932 non-null  float64
 19  day-8                         473932 non-null  float64
 20  day-9                         473932 non-null  float64
 21  day-10                        473932 non-null  float64
 22  day-11                        473932 non-null  float64
 23  day-12                        473932 non-null  float64
 24  day-13                        473932 non-null  float64
 25  day-14                        473932 non-null  float64
 26  day-15                        473932 non-null  float64
 27  day-16                        473932 non-null  float64
 28  day-17                        473932 non-null  float64
 29  day-18                        473932 non-null  float64
 30  day-19                        473932 non-null  float64
 31  day-20                        473932 non-null  float64
 32  day-21                        473932 non-null  float64
 33  day-22                        473932 non-null  float64
 34  day-23                        473932 non-null  float64
 35  day-24                        473932 non-null  float64
 36  day-25                        473932 non-null  float64
 37  day-26                        473932 non-null  float64
 38  day-27                        473932 non-null  float64
 39  day-28                        473932 non-null  float64
 40  day-29                        473932 non-null  float64
 41  day-30                        473932 non-null  float64
 42  day-31                        473932 non-null  float64
 43  comment_volume                1663 non-null    float64
 44  comment_score                 1663 non-null    float64
 45  discussion_volume             2987 non-null    float64
 46  discussion_score              2987 non-null    float64
 47  follow_volume                 91154 non-null   float64
 48  projects_volume               3708 non-null    float64
 49  projects_score                3708 non-null    float64
 50  review_volume                 10367 non-null   float64
 51  rating_avg                    10367 non-null   float64
 52  signup_country_name           469191 non-null  object
 53  signup_geo_region             437424 non-null  object
 54  signup_platform               469486 non-null  object
dtypes: float64(40), int64(8), object(7)
memory usage: 202.5+ MB

In [50]:
combo_df['signup_country_name_cat'] = combo_df['signup_country_name'].astype('category')
combo_df['signup_country_name_cat_codes'] = combo_df['signup_country_name_cat'].cat.codes

combo_df['signup_geo_region_cat'] = combo_df['signup_geo_region'].astype('category')
combo_df['signup_geo_region_cat_codes'] = combo_df['signup_geo_region_cat'].cat.codes

combo_df['signup_platform_cat'] = combo_df['signup_platform'].astype('category')
combo_df['signup_platform_cat_codes'] = combo_df['signup_platform_cat'].cat.codes

In [52]:
payment_provider_lookup_df = combo_df.groupby(
    by=['signup_country_name', 'signup_country_name_cat_codes']).agg(
        volume=pd.NamedAgg(column='user_uid', aggfunc='count')).reset_index()
payment_provider_lookup_df.to_csv('lookup_country_name.csv')

payment_ux_df = combo_df.groupby(
    by=['signup_geo_region', 'signup_geo_region_cat_codes']).agg(
        volume=pd.NamedAgg(column='user_uid', aggfunc='count')).reset_index()
payment_ux_df.to_csv('lookup_geo_region.csv')

trial_length_df = combo_df.groupby(
    by=['signup_platform', 'signup_platform_cat_codes']).agg(
        volume=pd.NamedAgg(column='user_uid', aggfunc='count')).reset_index()
trial_length_df.to_csv('lookup_platform.csv')

In [57]:
payment_ux_df

  signup_geo_region  signup_geo_region_cat_codes  volume
0            Africa                            0   31942
1              Asia                            1   57637
2            Europe                            2  108209
3     North America                            3  200991
4           Oceania                            4   16744
5     South America                            5   21901

In [53]:
combo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 473932 entries, 0 to 473931
Data columns (total 61 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   user_uid                       473932 non-null  int64
 1   create_time                    473932 non-null  object
 2   success                        473932 non-null  int64
 3   cancellation_time              473932 non-null  object
 4   payment_provider_cat_codes     473932 non-null  int64
 5   payment_ux_cat_codes           473932 non-null  int64
 6   trial_length_offer_cat_codes   473932 non-null  int64
 7   sub_utm_channel_cat_codes      473932 non-null  int64
 8   sub_utm_source_cat_codes       473932 non-null  int64
 9   trial_start_day                473932 non-null  object
 10  trial_end_day                  473932 non-null  object
 11  is_cancel_during_trial         473932 non-null  int64
 12  day-1                          473932 non-null  float64
 13  day-2                          473932 non-null  float64
 14  day-3                          473932 non-null  float64
 15  day-4                          473932 non-null  float64
 16  day-5                          473932 non-null  float64
 17  day-6                          473932 non-null  float64
 18  day-7                          473932 non-null  float64
 19  day-8                          473932 non-null  float64
 20  day-9                          473932 non-null  float64
 21  day-10                         473932 non-null  float64
 22  day-11                         473932 non-null  float64
 23  day-12                         473932 non-null  float64
 24  day-13                         473932 non-null  float64
 25  day-14                         473932 non-null  float64
 26  day-15                         473932 non-null  float64
 27  day-16                         473932 non-null  float64
 28  day-17                         473932 non-null  float64
 29  day-18                         473932 non-null  float64
 30  day-19                         473932 non-null  float64
 31  day-20                         473932 non-null  float64
 32  day-21                         473932 non-null  float64
 33  day-22                         473932 non-null  float64
 34  day-23                         473932 non-null  float64
 35  day-24                         473932 non-null  float64
 36  day-25                         473932 non-null  float64
 37  day-26                         473932 non-null  float64
 38  day-27                         473932 non-null  float64
 39  day-28                         473932 non-null  float64
 40  day-29                         473932 non-null  float64
 41  day-30                         473932 non-null  float64
 42  day-31                         473932 non-null  float64
 43  comment_volume                 1663 non-null    float64
 44  comment_score                  1663 non-null    float64
 45  discussion_volume              2987 non-null    float64
 46  discussion_score               2987 non-null    float64
 47  follow_volume                  91154 non-null   float64
 48  projects_volume                3708 non-null    float64
 49  projects_score                 3708 non-null    float64
 50  review_volume                  10367 non-null   float64
 51  rating_avg                     10367 non-null   float64
 52  signup_country_name            469191 non-null  object
 53  signup_geo_region              437424 non-null  object
 54  signup_platform                469486 non-null  object
 55  signup_country_name_cat        469191 non-null  category
 56  signup_country_name_cat_codes  473932 non-null  int16
 57  signup_geo_region_cat          437424 non-null  category
 58  signup_geo_region_cat_codes    473932 non-null  int8
 59  signup_platform_cat            469486 non-null  category
 60  signup_platform_cat_codes      473932 non-null  int8
dtypes: category(3), float64(40), int16(1), int64(8), int8(2), object(7)
memory usage: 226.1+ MB

In [54]:
del combo_df['signup_country_name']
del combo_df['signup_geo_region']
del combo_df['signup_platform']
del combo_df['signup_country_name_cat']
del combo_df['signup_geo_region_cat']
del combo_df['signup_platform_cat']

In [55]:
combo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 473932 entries, 0 to 473931
Data columns (total 55 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   user_uid                       473932 non-null  int64
 1   create_time                    473932 non-null  object
 2   success                        473932 non-null  int64
 3   cancellation_time              473932 non-null  object
 4   payment_provider_cat_codes     473932 non-null  int64
 5   payment_ux_cat_codes           473932 non-null  int64
 6   trial_length_offer_cat_codes   473932 non-null  int64
 7   sub_utm_channel_cat_codes      473932 non-null  int64
 8   sub_utm_source_cat_codes       473932 non-null  int64
 9   trial_start_day                473932 non-null  object
 10  trial_end_day                  473932 non-null  object
 11  is_cancel_during_trial         473932 non-null  int64
 12  day-1                          473932 non-null  float64
 13  day-2                          473932 non-null  float64
 14  day-3                          473932 non-null  float64
 15  day-4                          473932 non-null  float64
 16  day-5                          473932 non-null  float64
 17  day-6                          473932 non-null  float64
 18  day-7                          473932 non-null  float64
 19  day-8                          473932 non-null  float64
 20  day-9                          473932 non-null  float64
 21  day-10                         473932 non-null  float64
 22  day-11                         473932 non-null  float64
 23  day-12                         473932 non-null  float64
 24  day-13                         473932 non-null  float64
 25  day-14                         473932 non-null  float64
 26  day-15                         473932 non-null  float64
 27  day-16                         473932 non-null  float64
 28  day-17                         473932 non-null  float64
 29  day-18                         473932 non-null  float64
 30  day-19                         473932 non-null  float64
 31  day-20                         473932 non-null  float64
 32  day-21                         473932 non-null  float64
 33  day-22                         473932 non-null  float64
 34  day-23                         473932 non-null  float64
 35  day-24                         473932 non-null  float64
 36  day-25                         473932 non-null  float64
 37  day-26                         473932 non-null  float64
 38  day-27                         473932 non-null  float64
 39  day-28                         473932 non-null  float64
 40  day-29                         473932 non-null  float64
 41  day-30                         473932 non-null  float64
 42  day-31                         473932 non-null  float64
 43  comment_volume                 1663 non-null    float64
 44  comment_score                  1663 non-null    float64
 45  discussion_volume              2987 non-null    float64
 46  discussion_score               2987 non-null    float64
 47  follow_volume                  91154 non-null   float64
 48  projects_volume                3708 non-null    float64
 49  projects_score                 3708 non-null    float64
 50  review_volume                  10367 non-null   float64
 51  rating_avg                     10367 non-null   float64
 52  signup_country_name_cat_codes  473932 non-null  int16
 53  signup_geo_region_cat_codes    473932 non-null  int8
 54  signup_platform_cat_codes      473932 non-null  int8
dtypes: float64(40), int16(1), int64(8), int8(2), object(4)
memory usage: 213.4+ MB

In [56]:
combo_df.to_csv('skillshare_combined.csv')

In [22]:
jan_1 = usa_df[usa_df['create_time']<'2022-01-02']

In [32]:
jan_1[['user_uid', 'cancellation_time', 'trial_end_day', 'day-1', 'success']].sort_values(by='day-1', ascending=False)

      user_uid    cancellation_time        trial_end_day    day-1  success
822   23703501  2022-01-08 18:39:35  2022-01-08 10:05:58  23970.0        0
1872  23713654  2022-01-09 03:30:31  2022-01-08 18:18:09  19632.0        0
588   23699766  2022-02-23 17:35:36  2022-02-01 07:02:56  17112.0        0
15    23693109  2022-02-02 18:23:42  2022-02-01 00:11:12  16331.0        0
1463  23710515  2022-01-18 04:21:43  2022-01-08 15:56:34  13636.0        1
...        ...                  ...                  ...      ...      ...
1012  23587050  2022-01-25 15:53:47  2022-02-01 12:08:25      0.0        0
1028  23705980  2022-01-01 13:19:51  2022-02-01 12:20:30      0.0        0
2237  23715803                  0.0  2022-02-01 20:19:52      0.0        1
1059  23706322                  0.0  2022-02-01 12:38:47      0.0        0
2870  23369225                  0.0  2022-01-08 23:59:31      0.0        1

[1109 rows x 5 columns]

In [39]:
starts_df[starts_df['user_uid']==23703501]

,Unnamed: 0_x,id,user_uid,is_active,create_time,update_time,realized_end_time,expiration_time,first_payment_time,last_payment_time,next_billing_time,last_payment_attempt,last_failed_payment_attempt,user_cancellation_time,cancellation_time,refund_time,plan_length,plan_id,coupon_id,coupon_code,coupon_trial_length,payment_provider,payment_ux,is_paused,pause_time,upgraded_subscription_from_id,is_refunded,is_resume,paid_through,is_lapsed,is_pending,is_cancelled,has_paid,is_paid,upgraded_subscription_to_id,trial_end,is_team,is_no_cc_trial,is_scholarship,category,num_payments,num_successful_payments,first_payment_currency_code,subscription_number,paid_subscription_number,eligible_subscription_number,is_p1_refunded,is_upgrade,upgraded_from_id,was_upgraded,upgraded_to_id,was_upgraded_to_p1_refunded,upgrade_time,upgraded_to_expiration_time,trial_extension_time,trial_extended_from_id,trial_extended_to_id,original_create_time,original_trial_end,extended_trial_end,was_trial_extended,is_trial_extension,is_split_trial,is_paid_reactivation,trial_length_days,is_direct_to_paid,trial_length_offer,had_trial,sub_utm_source,sub_utm_campaign,sub_utm_medium,sub_utm_term,sub_utm_channel,referral_source,eligible_trial_number,trial_end_day,trial_start_day,cancellation_day,first_payment_day,is_cancel_during_trial,Unnamed: 0_y,signup_country_name,signup_geo_region,signup_platform
5799,9531,8796072,23703501,False,2022-01-01 10:05:59,2022-01-09 03:18:27,2022-01-09 03:18:27,2022-01-09 03:18:27,2022-01-08 10:07:02,2022-01-08 10:07:02,NaN,2022-01-08 10:07:02,NaN,2022-01-08 18:39:35,2022-01-08 18:39:35,2022-01-08 18:39:35,12.0,annual16788usd,NaN,NaN,NaN,Stripe,CreditCard,False,NaN,NaN,True,False,2023-01-08 10:07:02,False,False,True,True,True,NaN,2022-01-08 10:05:58,False,False,False,Paid,1,0,USD,1,1.0,1.0,True,False,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01 10:05:59,2022-01-08 10:05:58,NaN,False,False,False,False,7.0,False,One Week,True,(direct),NaN,(none),NaN,Direct,NaN,1.0,2022-01-08 10:05:58,2022-01-01 10:05:59,2022-01-08 18:39:35,2022-01-08 10:07:02,0,2396,United States,North America,Web